.App {
  text-align: center;
}

.about-page,
.favorite-page,
.all-recipes-page,
.login-page,
.regiter-page,
.user-info-page,
.food-mng-page-container {
  min-height: 100vh;
}

.user-info-page{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.regiter-page{
  display: flex;
  justify-content: center;
}
.food-mng-page{
  display: flex;
}