.user-profile-container{
  width: 30%;
}
.user-profile-form{
  display: flex;
  flex-direction: column;
  gap: 17px;
  padding: 7px 0;
  align-items: flex-start;
}
.user-profile-error{
  color: red;
}
.user-profile-btn{
  display: flex;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}
.user-profile-btn button{
  width: 100px;
}