.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.register-form input{
  width:420px
}
/* .textBox {
  width: 420px;
} */

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
