.food-detail {
    max-width: 1060px;
    margin: 100px auto;
    padding: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: max-content;
    grid-template-rows: auto;
    gap: 12px;
  }
  
  .food-recipe {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: aqua;
  }
  
  .food-title {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    text-align: left;
    margin-left: 20px;
  }

  .food-title h1{
    margin-bottom: 20px;
  }

  .food-txtfields{
    margin-top: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .food-txtfields h4{
    margin-bottom: 10px;
  }

  .food-comments {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  