.form-field {
  text-align: center;
  margin: 5px auto;
  padding: 12px;
  max-width: 450px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.textBox {
  width: 420px;
}

.error-message {
  color: red;
}
